
/* video background*/
.banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.banner video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.banner .content {
    position: relative;
    z-index: 1;
    margin: 0 auto;
    text-align: center;
}

.banner .content h1 {
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    text-transform: uppercase;
    color: white;
    opacity: 1;
}

/* next section */
#article h2 {
  text-align: center;
  font-size: 40px;
  margin: 10px;
  padding: 10px;
}

.container-1 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  margin: 2% 5% 2% 5%;
}

.container-1 p {
  font-size: 20px;
  margin: 10px 10px 20px 10px;
  padding-bottom: 20px;
}

img {
  max-width: 100%;
  display: block;
  border-radius: 2%;
}

/* slider section */
.home{
	height: 100vh;
	overflow:hidden;
	position: relative;
}

.home .slide{
	position: absolute;
	left:0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index:1; 
	display:none;
	padding:0 15px;
	animation: slide 2s ease;
}
.home .slide.active{
	display: flex;
}
@keyframes slide{
	0%{
		transform:scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}
.container{
	max-width: 1170px;
	margin:auto;
	
}

.home .container{
	 flex-grow: 1;
}
.home .caption{
	width:50%;
}
.home .caption h1{
	font-size:42px;
	color:#ffffff;
	margin:0;
	
}
.home .slide.active .caption h1{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1s;
}
.home .caption p{
	font-size: 18px;
	margin:15px 0 30px;
	color:#ffffff;
}
.home .slide.active .caption p{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.2s;
}
.home .caption a{
 display: inline-block;
 padding:10px 30px;
 background-color: #000000;
 text-decoration: none;
 color:#ffffff;
}

.home .slide.active .caption a{
	opacity:0;
	animation: captionText .5s ease forwards;
	animation-delay:1.4s;
}

@keyframes captionText{
	0%{
		opacity:0; transform: translateX(-100px);
	}
	100%{
	 opacity:1; transform: translateX(0px);	
	}
}

.home .controls .prev,
.home .controls .next{
 position: absolute;
 z-index:2;
 top:50%;
 height:40px;
 width: 40px;
 margin-top: -20px;
 color:#af9494;
 text-align: center;
 line-height: 40px;
 font-size: 40px;
 cursor:pointer;
 transition: all .5s ease;
}
.home .controls .prev:hover,
.home .controls .next:hover{
	opacity: .5;
}
.home .controls .prev{
 left:0;
}
.home .controls .next{
 right:0;
}

.home .indicator{
	position: absolute;
	left:50%;
	bottom:30px;
	z-index: 1;
	transform: translateX(-50%);
}

.home .indicator div{
	display: inline-block;
	width:15px;
	height: 15px;
	color:#ffffff;
	background-color: black;
	border-radius:50%;
	text-align: center;
	line-height: 25px;
	margin:0 5px;
}

.home .indicator div.active{
 background-color: white;
}

/*responsive*/
@media(max-width: 767px){
	.controls{
		display: none;
	}
}


/* next section */
#about {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	margin: 1% 5% 3% 5%;
	padding: 0 5% 0 5%;
}

#about p {
	font-size: 20px;
}

/*footer*/
footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: hsl(0, 0%, 15%);
    height: auto;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: rgb(22, 21, 21);
    padding: 10px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}